*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0 3vw;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  padding: 20px 0;
}

ul {
  list-style: none;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo span {
  font-size: 1.75rem;
  font-weight: 700;
  padding-left: 10px;
}

.nav li {
  background-color: #ea262e;
  margin-bottom: 5px;
  text-align: center;
}

.nav a {
  display: block;
  padding: 15px 25px;
}

@media (min-width: 568px) {
  .nav-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
  }

  .nav li {
    margin-right: 5px;
  }

  .nav li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
