@mixin flex($direction, $alignment, $justification) {
  align-items: $alignment;
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
}

@mixin hover-button {
  &:hover {
    background-color: $link-red-hover;
    transition: background-color 0.32s, ease;
  }
}

@mixin hover-link {
  &:hover {
    color: $link-red-hover;
    transition: background-color 0.32s, ease;
  }
}
