$dark-gray: #5C5C6A;
$cream-text: #EFE9E0;
$email-link: #EA6977;
$gray-footer-text: #CCCCD1;
$link-red: #C56C76;
$link-red-hover: lighten($link-red, 5%);
$logo-blue: #96B9C1;
$main-body-text: #797166;
$neutral-gray: #F5F3F0;
$white: #FFF;
