*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  background: #F5F3F0;
  color: #797166;
  font-family: Helvetica, sans-serif;
  line-height: 1.5; }

h1, h2 {
  color: #5C5C6A;
  line-height: 1.25; }

a {
  color: #C56C76;
  text-decoration: none; }

.content-container {
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 4vmin; }

/* Header
================================*/
header {
  background: #5C5C6A;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; }

.header-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.logo-date-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.uxim-logo {
  height: 15px;
  width: auto; }

.date {
  display: none; }

.attend {
  background: #C56C76;
  color: #FFF;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: lighter;
  height: 100%;
  padding: 12px 15px 0;
  text-align: center; }
  .attend:hover {
    background-color: #cc7e87;
    transition: background-color 0.32s, ease; }

/* Intro
================================*/
.intro {
  background: #5C5C6A; }

.intro-content {
  padding-top: 55px;
  padding-bottom: 30px; }

.talk-list-container {
  color: #EFE9E0; }

h1.intro-header {
  color: #FFF; }

.checkout-talks {
  font-weight: bold; }

.talk-list {
  list-style: square;
  margin-top: 0.8rem;
  padding-left: 1.75rem; }
  .talk-list li {
    margin-bottom: 0.5rem; }

.aycl-pitch {
  background: #FFF;
  border: 1px solid #ddd;
  margin: 40px 0 15px;
  padding: 15px 22px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .aycl-pitch p {
    font-size: 1.125rem; }

.aycl-price {
  border-radius: 0.35rem;
  background: #C56C76;
  color: #FFF;
  font-size: 1.25rem;
  margin: 10px 0 5px;
  padding: 10px 20px;
  text-align: center;
  width: 100%; }
  .aycl-price:hover {
    background-color: #cc7e87;
    transition: background-color 0.32s, ease; }

/* Speakers
================================*/
.speakers {
  margin-top: 40px;
  padding-bottom: 20px; }

.speaker {
  height: 100%;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.talk-info {
  margin-bottom: 0.65rem;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.speaker-picture {
  border-radius: 0.25rem;
  height: auto;
  max-width: 125px;
  width: 25%; }

.title-author {
  margin-left: 12px;
  width: 70%; }

.talk-title {
  border-bottom: 1px solid #C56C76;
  font-size: 1.2rem;
  font-weight: lighter;
  text-shadow: 0 3px #F5F3F0; }
  .talk-title:hover {
    color: #cc7e87;
    transition: background-color 0.32s, ease; }

/* Footer
================================*/
footer {
  background: #5C5C6A;
  color: #CCCCD1;
  font-size: 0.875rem;
  line-height: 2;
  padding: 25px 0; }

.footer-content {
  justify-content: space-between; }

.site-info-container {
  margin-bottom: 14px; }
  .site-info-container a {
    color: #EA6977; }
    .site-info-container a:hover {
      color: #cc7e87;
      transition: background-color 0.32s, ease; }

.uie-logo {
  display: block;
  height: 64px;
  margin: 1.5rem auto;
  width: auto; }

/* Media Query
================================*/
@media screen and (min-width: 660px) {
  .uxim-logo {
    height: 20px;
    width: auto; }

  .date {
    color: #EFE9E0;
    display: flex;
    font-size: 1.125rem;
    font-weight: lighter;
    margin-left: 12px; }

  .talk-list {
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .talk-list div {
      width: 47%; }

  .aycl-pitch {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .aycl-pitch p {
      width: 68%; }

  .aycl-price {
    width: 27%; }

  .speaker-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .speaker {
    width: 47%; }

  .flex-wrapper-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .site-info-container {
    width: 47%; } }

/*# sourceMappingURL=version-2.css.map */
