@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
}
