@import 'https://fonts.googleapis.com/css?family=Oswald:400,700|Source+Sans+Pro:400,400i,600,700,900';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
}

section {
  margin-bottom: 25px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 3vmin;
  width: 100%;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.green-bg {
  background-color: #538D72;
}
.blue-bg {
  background-color: #45679E;
}
.brown-bg {
  background-color: #452C27;
}
.orange-bg {
  background-color: #B74A29;
}

/*-------HEADER-------*/

header {
  background-image: url('../images/mosaic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85.42vh;
  width: 100vw;
}

/*-------NAV-------*/


/*-------POPOUT NAV-------*/


/*-------PHILOSOPHY-------*/

.philosophy h1, .philosophy p {
  margin-bottom: 20px;
}

.philosophy h3 {
  margin-bottom: 10px;
}

.philosophy p:last-child {
  margin-bottom: 0;
}


/*-------CAROUSEL-------*/

.images-container {
  font-size: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.images-container img {
  display: inline-block;
  height: 300px;
  width: auto;
}
