<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UX Immersion 2015 Recap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../css/version-2.css" media="screen" charset="utf-8">
  </head>
  <body>
    <header>
      <div class="content-container header-content">
        <div class="logo-date-container">
          <img class="uxim-logo" src="../images/uxim15.png" alt="uxim-logo" />
          <span class="date">April 2016</span>
        </div>
        <a class="attend" href="#">Attend</a>
      </div>
    </header>
    <section class="intro">
      <div class="content-container intro-content">
        <h1 class="intro-header">Have 8 smart people teach you how to design for mobile</h1>
        <div class="talk-list-container">
          <p class="checkout-talks">
            If you want to design great mobile experiences, then check out these talks from UXIM15:
          </p>
          <ul class="talk-list">
            <div>
              <li>Luke Wroblewski on current mobile behavior, data, and trends</li>
              <li>Karen McGrane on publishing content to many devices</li>
              <li>Nate Schutta on building prototypes using JavaScript</li>
              <li>Jason Grigsby on implementing a mobile-first responsive web design process</li>
            </div>
            <div>
              <li>Brad Frost on Atomic Design–building systems from components</li>
              <li>Cyd Harrell on conducting mobile research, even with small budgets</li>
              <li>Ben Callahan on moving beyond a linear design process</li>
              <li>Jared Spool on innovations in UX design education and development</li>
            </div>
          </ul>
        </div>
        <div class="aycl-pitch">
          <p>
            Get lifetime access to all eight video recordings. If you’re part of a team, everyone gets access to the videos.
          </p>
          <a class="aycl-price" href="#">Buy for $129</a>
        </div>
      </div>
    </section>
    <section class="speakers">
      <div class="content-container">
        <h1>Here are the full descriptions of the 8 UXIM15 talks:</h1>
        <div class="speaker-row">
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/ben-callahan.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Dissecting Design</a></h3>
                <h4>Ben Callahan</h4>
              </div>
            </div>
            <p>
              Imagine showing clients your work in Week 1, before any details are refined or big decisions made. How would they respond? Ben Callahan knows, and he’ll tell you how his team transitioned away from a linear design process with a big reveal–ta-da!
            </p>
          </div>
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/cyd-harrell.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Doing “Pocket Research” to Learn About Your Users’ Lives</a></h3>
                <h4>Cyd Harrell</h4>
              </div>
            </div>
            <p>
              Given the ubiquity of mobile–even among hard-to-reach populations–UX designers are poised to make data-driven design a standard practice. And gathering that data is easier than ever if you listen to Cyd Harrell, whose quick tips for doing mobile research are practical for any team.
            </p>
          </div>
        </div>
        <div class="speaker-row">
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/brad-frost.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Building Design Systems from Atomic Elements</a></h3>
                <h4>Brad Frost</h4>
              </div>
            </div>
            <p>
              Are words like “speed” and “flexibility” part of your work? If so, don’t miss Brad Frost’s introduction to Atomic Design, a methodology he uses to break down page-based layouts into smaller components. He’ll talk about establishing your own system to create smart, scalable designs.
            </p>
          </div>
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/jason-grigsby.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Adapting to Different Forms of Input</a></h3>
                <h4>Jason Grigsby</h4>
              </div>
            </div>
            <p>
              For years, we treated the web as a fixed canvas that reacted only to keyboard and mouse inputs. Now we have touch screens, cameras, voice control, and sensors–but how do we design for the explosion of these dynamic inputs? Jason Grigsby has some ideas you’ll want to hear.
            </p>
          </div>
        </div>
        <div class="speaker-row">
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/karen-mcgrane.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Defining Your Mobile Content Strategy</a></h3>
                <h4>Karen McGrane</h4>
              </div>
            </div>
            <p>
              Today, 33 percent of people in America only use a mobile device to browse online. So why are companies still approaching mobile content from a desktop perspective? Find out from Karen McGrane, who’ll discuss how to define a mobile content strategy that’ll work for your organization and your users, too.
            </p>
          </div>
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/nate-schutta.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Choosing Which Mobile Experience to Build</a></h3>
                <h4>Nate Schutta</h4>
              </div>
            </div>
            <p>
              Should your organization design a native app, a mobile web app, or something in between? With Nate Schutta’s guidance, you’ll help your team answer this question by asking the “right” business questions, considering today’s UX trends, and keeping up with mobile’s constant evolution.
            </p>
          </div>
        </div>
        <div class="speaker-row">
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/luke-wroblewski.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">Mobile Behavior and Design Trends</a></h3>
                <h4>Luke Wroblewski</h4>
              </div>
            </div>
            <p>
              Learn the language and facts you need to bring mobile to the forefront in your organization. Luke will share examples and insightful information sure to enlighten you during his keynote presentation.
            </p>
          </div>
          <div class="speaker">
            <div class="talk-info">
              <img class="speaker-picture" src="../images/jared-spool.jpg" alt="speaker-picture" />
              <div class="title-author">
                <h3><a class="talk-title" href="#">How Do We Design Designers?</a></h3>
                <h4>Jared Spool</h4>
              </div>
            </div>
            <p>
              If we could design, from scratch, what a newly minted UX designer would learn in school, what would that look like? Jared will talk about the major shifts in design education and how it will forever change the way we hire, staff, and value our team members.
            </p>
          </div>
        </div>
        <div class="aycl-pitch">
          <p>
            Get lifetime access to all eight video recordings. If you’re part of a team, everyone gets access to the videos.
          </p>
          <a class="aycl-price" href="#">Buy for $129</a>
        </div>
      </div>
    </section>
    <footer>
      <div class="content-container footer-content">
        <div class="flex-wrapper-row">
          <div class="site-info-container">
            <p>
              Questions or comments? Please send e-mail to <a href="mailto: events@uie.com">events@uie.com</a>. UX Immersion Mobile Conference is a proud production of User Interface Engineering.
            </p>
          </div>
          <div class="site-info-container">
            <p>
              Copyright © 2016, User Interface Engineering. All Rights Reserved. 510 Turnpike St., Suite 102, North Andover, MA 01845 1.800.588.9855 (within the U.S. and Canada) or +1.978.327.5561
            </p>
          </div>
        </div>
        <img class="uie-logo" src="../images/uie-logo.png" alt="uie-logo" />
      </div>
    </footer>
  </body>
</html>
